<form class="new-item">
    <mat-card class="new-item-box">
        <mat-card-content>
            <mat-form-field>
                <mat-label>Name</mat-label>
                <input matInput>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Description</mat-label>
                <textarea matInput></textarea>
            </mat-form-field>
    
            <mat-form-field>
                <mat-label>Category</mat-label>
                <mat-select>
                  <mat-option value="one">First option</mat-option>
                </mat-select>
            </mat-form-field>
    
            <mat-form-field>
                <mat-label>Sub Category</mat-label>
                <mat-select>
                  <mat-option value="one">First option</mat-option>
                </mat-select>
            </mat-form-field>
    
            <mat-form-field>
                <mat-label>Creation date</mat-label>
                <input matInput [matDatepicker]="creation_date" disabled>
                <mat-datepicker-toggle matIconSuffix [for]="creation_date"></mat-datepicker-toggle>
                <mat-datepicker #creation_date></mat-datepicker>
            </mat-form-field>
    
            <mat-form-field>
                <mat-label>Estimated Date</mat-label>
                <input matInput [matDatepicker]="estimated_date">
                <mat-datepicker-toggle matIconSuffix [for]="estimated_date"></mat-datepicker-toggle>
                <mat-datepicker #estimated_date></mat-datepicker>
            </mat-form-field>
    
            <mat-form-field>
                <mat-label>Due Date</mat-label>
                <input matInput [matDatepicker]="due_date">
                <mat-datepicker-toggle matIconSuffix [for]="due_date"></mat-datepicker-toggle>
                <mat-datepicker #due_date></mat-datepicker>
            </mat-form-field>
    
            <mat-form-field>
                <mat-label>Update Date</mat-label>
                <input matInput [matDatepicker]="update_date" disabled>
                <mat-datepicker-toggle matIconSuffix [for]="update_date"></mat-datepicker-toggle>
                <mat-datepicker #update_date></mat-datepicker>
            </mat-form-field>
    
            <mat-form-field floatLabel="always">
                <mat-label>Amount</mat-label>
                <input matInput type="number" class="example-right-align" placeholder="0">
                <span matTextPrefix>R$&nbsp;</span>
            </mat-form-field>
        </mat-card-content>
    </mat-card>
</form>