/* You can add global styles to this file, and also import other style files */
 :root {
    --clr-primary: #45C4B0;
    --clr-secondary: #13678A;
    --clr-tertiary: #012030;
    --clr-neutral:  #F8F8FF;
    --clr-green: #DAFBDA;   
 }

html{
    margin: 30px 100px 30px 100px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background: var(--clr-neutral);}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* MY STYLES */

mat-table.primary-table{
    background-color: var(--clr-neutral);
    border: none;
}

mat-table.primary-table mat-header-cell.primary-header-cell{
    background-color: var(--clr-tertiary);
    border: none;
}

mat-cell.primary-cell{
    color: var(--clr-tertiary);
    border: solid 1px var(--clr-tertiary);
}