/* You can add global styles to this file, and also import other style files */
 :root {
    --clr-primary:  #33D49D;
    --clr-secondary: #080f1b;
    --clr-tertiary: #0F8DEB;
    --clr-neutral:  #f7f7f7;
 }

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    background: var(--clr-secondary);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

div.cdk-overlay-container mat-calendar{
    background: red;
    width: 350px;
    height: 150px;
    z-index: 999999999999999999999999999999999;
}