<div class="body">
  <div class="filerts">
    <mat-form-field>
      <mat-label>Categorie</mat-label>
      <mat-select class="header-cell">
        @for (categorie of categories; track categorie) {
          <mat-option [value]="categorie.id">{{categorie.name}}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field >
      <mat-label>Sub Categories</mat-label>
      <mat-select class="header-cell">
        @for (subCategorie of subCategories ; track subCategorie) {
          <mat-option [value]="subCategorie.id">{{subCategorie.name}}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  </div>
  <table mat-table [dataSource]="items" class="table-items">
      <ng-container matColumnDef="Name">
        <th mat-header-cell *matHeaderCellDef class="header-cell"> Name </th>
        <td mat-cell *matCellDef="let item"> {{item.name}} </td>
      </ng-container>
    
      <ng-container matColumnDef="Categorie">
        <th mat-header-cell *matHeaderCellDef class="header-cell"> Categorie </th>
        <td mat-cell *matCellDef="let item"> {{item.categorie_id}} </td>
      </ng-container>
    
      <ng-container matColumnDef="Sub Categorie">
        <th mat-header-cell *matHeaderCellDef class="header-cell"> Sub Categorie </th>
        <td mat-cell *matCellDef="let item"> {{item.sub_categorie_id}} </td>
      </ng-container>
    
      <ng-container matColumnDef="Creation Date">
        <th mat-header-cell *matHeaderCellDef class="header-cell"> Creation Date </th>
        <td mat-cell *matCellDef="let item"> {{item.creation_date}} </td>
      </ng-container>
    
      <ng-container matColumnDef="Estimated Date">
        <th mat-header-cell *matHeaderCellDef class="header-cell"> Estimated Date </th>
        <td mat-cell *matCellDef="let item"> {{item.estimated_date}} </td>
      </ng-container>
    
      <ng-container matColumnDef="Due Date">
        <th mat-header-cell *matHeaderCellDef class="header-cell"> Due Date </th>
        <td mat-cell *matCellDef="let item"> {{item.due_date}} </td>
      </ng-container>
    
      <ng-container matColumnDef="Value">
        <th mat-header-cell *matHeaderCellDef class="header-cell"> Value </th>
        <td mat-cell *matCellDef="let item"> {{item.value}} </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>


