<mat-card class="registration-box">
        <mat-card-content>
            <mat-form-field>
                <mat-label>First Name</mat-label>
                <input matInput>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Last Name</mat-label>
                <input matInput>
            </mat-form-field>
            <mat-form-field class="teste">
                <mat-label>E-mail</mat-label>
                <input matInput>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Username</mat-label>
                <input matInput>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Password</mat-label>
                <input matInput>
            </mat-form-field>
            <div class="example-button-row">
                <button mat-raised-button>Register</button>
            </div>
        </mat-card-content>
</mat-card>
